<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OWA Agenda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- twitter bootstrap -->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  
  </head>

  <body>

    <div class="container">

      <h1>OWA Agenda</h1>
      <br>
      <p>
        <a href="/agenda">Agenda</a>
      </p>
      <small>
        Need agenda handler.<br/>
        Need Login/Logout.<br/>
      </small>

    </div> <!-- /container -->

  </body>
</html>
